* {
  font-family: Lato, -apple-system, SF UI Text, Helvetica Neue, Helvetica, sans-serif;
  -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

/* Colors
link-blue #44C0FF
highlight-pink #FF6E6B
light-gray #7A7A7A
*/


html,body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,code,img,small,sub,sup,b,i,dl,dt,dd,ol,ul,li,table,tbody,tfoot,thead,tr,th,td {
  border: 0;
  font-size: <fontsize>px;
  margin: 0;
  padding: 0;
  outline: 0;
  line-height: 1.5em;
}

body {
  background-color: rgba(255,255,255,0.0);
  padding: 16px 30px 5px 30px;
  color: #333;
  word-wrap: break-word;
  margin: 0;
}

/* Highlighed Text Color */

::selection {background: #44C0FF; color:#FFFFFF;}


/* EMBEDS */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

img.large-image {
  width: 100%;
}

img:not(.large-image) {
    max-width: 100%;
}

@media (min-width: 960px) {
    img {
        /* When printing big pages, we want the images not to grow too large */
        max-width: 960px;
    }
}

.inline-img-wrapper {
  /* Put the children side-by-side */
  display: -webkit-flex;
  /* Insert whitespace between elements when they don't add up to 100%. Simulates margin between children */
  -webkit-box-pack: justify;

  width: 100%;
  height: 10em;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.inline-img {
  /* When putting an image in a flex container, we have to limit its width explicitly or it blows out of its bounds */
  width: calc(50% - 2.5px);
  /* This is a fancy trick to hide the actual deformed image from the image tag. It just scoots it out of sight */
  box-sizing: border-box;
  padding-left: calc(50% - 2.5px);
  /* This sticks the CSS image background in the right place, and sizes it to just cover the frame */
  background-size: cover !important;
  background-position: center center !important;
}

.inline-img + .inline-img {
  margin-left: 5px;
}

.media_embed {
  display: block;
  padding: 0;
  margin-left: -30px;
  width: calc(100% + 60px) !important;
}

img.large-image, .inline-img-wrapper {
  margin-left: -30px;
  width: calc(100% + 60px);
}

strong {
  color: #252525;
  font-weight: 600;
}

a {
  color: #44C0FF;
  text-decoration: none;
}

a:hover {
  color: #FF6E6B;
}

hr {
  border: 0;
  border-top: 1px solid #eaeaea;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}


p,pre {
  margin: 1.5em 0 1.5em;
}

h2,h3,h4,h5,h6 {
  margin: .5em 0 .2em 0;
}


/* HEADERS */


h1 {
  font-size: 1.3em;
  font-weight: 700;
  margin: .9em 0 .4em 0;
}

h2 {
  font-size: 1.2em;
  font-weight: 800;
}

h3 {
  font-size: 1.1em;
  font-weight: 700;
  color: #EA4C89;

}

h4 {
  font-weight: 600;
  color: #44C0FF;
}

h5 {
  font-weight: 600;
  font-size: .8em;
  color: #999;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 4px;
}

h6 {
  font-weight: 500;
  font-size: .8em;
  color: #AAA;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 4px;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: -0.1em;
}

/* LISTS */

ol,ul {
  margin: .5em 1.5em;
  padding-left: 0;
  color: #444;
}

ol li {
  margin-left: .4em;
  padding-left: .4em;
}

ul li {
  margin-left: .4em;
}

ul li:last-child {
  margin-bottom: .7em;
}

ul li li {
  margin-left: .8em;
}


ol ol,ol ul,ul ol,ul ul {
  margin: 0 .3em;
}

ul li li li li {
  list-style-type: circle;
}
ul li li li li li {
  list-style-type: square;
}
ul li li li li li li {
  list-style-type: circle;
}
ul li li li li li li li {
  list-style-type: square;
}

li p {
  margin-top: 0;
  margin-bottom: 0;
}

.footnotes ol li {
  margin-bottom: 10px;
  margin-left: 16px;
  font-weight: 800;
  font-size: .9em;
}

.footnotes ol li p {
  font-weight: 400;
  font-size: 1em;
}

/* code */
/* preformatted */
blockquote {
  margin: 0;
  border-left: solid .2em #F0F0F0;
  padding: 0 .7em;
  quotes: none;
  color: #707070;
}

code,
pre{
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
    padding: 3px 5px;
    font-size: .8em;
    color: #0092DC;
    background-color: #F4F4F4;
    border-radius: 4px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    line-height: 1;
    color: #333;
    word-wrap: break-word;
    background-color: #F4F4F4;
    border-radius: 4px;
}
pre code {
    padding: 0;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}


/* tables */
table {
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-spacing: 0;
}

table th {
  padding: 3px 10px;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table tr {
}

table td {
  padding: 3px 10px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

/* sub */
sup,sub,a.footnote {
  font-size: 1.4ex;
  height: 0;
  line-height: 1;
  vertical-align: super;
  position: relative;
  font-weight: 800;
}

sub {
  vertical-align: sub;
  top: -1px;
}

small {
  font-size: 85%;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: 600;
}

del {
  text-decoration: line-through;
  color: #B2B2B2;
}

.tags {
  width: 80%;
  margin-top: .4em;
}

.tag {
  font-size: .9em;
  font-weight: 400;
  line-height: 2.2em;
  background-color: #F1F1F1;
  color: #6F6F6F;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: .2em .4em;
  margin: 3px 0 2px;
  white-space: nowrap;
}

.tag:hover {
    background-color: #4a4a4a;
    color: #ededed;
}

.tag:hover {
  background-color: #4a4a4a;
  color: #ededed;
}

.activity {
  font-size: .6em;
  font-weight: 600;
  background-color: #ffffff;
  color: #818181;
  -moz-border-radius: 2px;
  border: 1px solid #ececec;
  border-radius: 2px;
  padding: .3em .5em;
  margin: 0;
}

/* Journal Colors */
.do44C0FF { color: #44C0FF !important; }
.do16D6D9 { color: #16D6D9 !important; }
.do2DCC71 { color: #2DCC71 !important; }
.doFFC107 { color: #FFC107 !important; }
.doFF7EB0 { color: #FF7EB0 !important; }
.doFF6E6B { color: #FF6E6B !important; }
.do3398DB { color: #3398DB !important; }
.do95A5A6 { color: #95A5A6 !important; }
.doC9A286 { color: #C9A286 !important; }
.doFF983B { color: #FF983B !important; }
.doC27BD2 { color: #C27BD2 !important; }
.doE74C3C { color: #E74C3C !important; }

/* checkboxes */
ul.checkboxes {
  list-style: none;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0;
  padding-bottom: 0;
}

ul.checkboxes li {
  position: relative;
}

ul.checkboxes input[type=checkbox] {
  position: absolute;
  left: -1.8em;
  top: .3em;
}

ul.checkboxes li {
  margin-left: 0.65em;
}

/* special combinations */
blockquote + .tags {
  margin-top: 1em;
}

iframe.spotify {
  width: 100%;
}
